<header class="header">
  <div class="header__container">
    <a href="http://adalab.es">
      <img 
        class="logo"
        src="./assets/images/adalab-logo.svg"
        alt="Logo de Adalab"
      />
    </a>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="menu__item">
        <a class="menu_link" href="http://medium.com/adalab">blog</a>
      </li>
      <li class="menu__item">
          <a class="menu_link" href="https://adalab.es/contacto/">contacto</a>
      </li>
    </ul>
  </nav>

</header>
