// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


// fonts
$font-main: 'Rubik', sans-serif;


// colors
$colorTeal: #1daa9f;
$colorAqua: #32decf;
$colorGreyLight: #c5c5c5;
$colorGreyMedium: #676a6d;
$colorGreyDark: #252525;
$colorBlack: #000000;


:root {
    font-size: 62.5%;
}