.footer {
  height: 90px;
  background-color: $colorGreyDark;
  position: fixed;
  width: 100%;
  bottom: 0;

}

.copywrite {
  font-family: $font-main;
  font-size: 16px;
  color: $colorGreyMedium;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 34px;
}

/* TABLET VERSION */
@media all and (min-width: 768px) {}


  /*DESKTOP VERSION*/
@media all and (min-width: 1200px) {}