.main {
  background-image: url(../images/hero-image.jpg);
  background-size: 180%;
  background-repeat: space;
  background-position: -150px;
  height: 100vh;
  padding-left: 20px;
}

  @media all and (min-width: 768px) {

    .main{
    background-size: 175%;
    background-position: -300px;
    padding-left: 30px;
    }
  }

  @media all and (min-width: 1200px) {
    
    .main{
    background-size: 140%;
    background-position: -300px;
    padding-left: 30px;
    }
  }


.container {
  height: 108px;
  width: 161px;
  padding-top: 241px;

  @media all and (min-width: 768px) {
    padding-top: 350px;
  }
}

.text {
  font-family: $font-main;
  color: white;
  font-weight:800;
  text-transform: capitalize;
  font-size: 30px;

  @media all and (min-width: 768px) {
    font-size: 60px;
  }
}

